[include]
    path = gitconfig.secrets
[user]
    name = Guilherme de Maio
    email = nirev@taming-chaos.com
    signingkey = 3D6E11B9CAC8B6D9
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
[push]
    default = simple

[alias]
    st = status
    ci = commit
    co = checkout
    b = branch -a
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
    fo = fetch origin
    fom = fetch origin master
    pom = pull origin master
    fupum =!git checkout master && git fom && git pom
    rebasemaster = !branch=\"`git branch 2>/dev/null | grep \\* | awk '{ print $2 }'`\" && echo \"Rebasing $branch from master...\" && git fupum && git co $branch && git rebase master
    cob = !git fo && git co -b $1 origin/$1 && echo \"Checked out origin branch:\"
    next = !git tag --points-at | sed 's/step//' | awk '{print \"step\"$1+1}' | xargs git co && git log -1 --no-decorate || echo "already at last step"

[core]
    excludesfile = ~/.gitignore_global
[commit]
    gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
[github]
	user = nirev
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
    path = ~/.gitconfig-device